@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --hover-widget-primary-color: #0B5CFF;
  --hover-widget-secondary-color: #FFF;
}
#hover-widget {
  position: fixed;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  z-index: 100000;
}